<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Annebulosa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#novedades">Novedades</a>
            </li>
            <li class="nav-item dropdown">
            <li class="nav-item">
                <a class="nav-link" href="#historia">Historia</a>
            </li>
            <li class="nav-item dropdown">
            <li class="nav-item">
                <a class="nav-link" href="#nosotros">Nosotros</a>
            </li>
            <li class="nav-item dropdown">
            <li class="nav-item">
                <a class="nav-link" href="#conocenos">Conocenos</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container fluid">
    <div id="home" class="row align-item-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p></p>
            <h1>Annebulosa</h1>
            <p>Esto esta inspirado, es una gran artista que respeto mucho, me encanta sus dibujos, como la persona que
                es, una persona que tiene un corazon puro y bastante noble, Su caracter me inspira a mejorar, Por eso he
                dedicado a hacer mi prueba inspirado en ella.</p>

        </div>
    </div>

    <div id="novedades" class="row py-4 ">
        <div class="col-md-5 offset-md-2 py-3">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                {{#each novedades}}
                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#modal{{id}}"><img src="{{imagen}}">{{titulo}}
                </a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col-md-3">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>Una gran artista</h5>
                            <p>Annebulosa</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>Dibujos Cada Fin semanas</h5>
                            <p>Se el primero en verlo!</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="testimonio">

                            <h5> Capacitada para dibujar tambien en</h5>
                            <p>3D</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




        </div>

        <!--Inicio Modal-->
        {{#each novedades}}
        <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>{{subtitulo}}</h6>
                        <img src="{{imagen}}" alt="">
                        <p>{{cuerpo}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <!--Fin Modal-->

        <!--Colocar Testimonio-->
        <!---Cierra novedades-->

    </div>
    <!--- fin de novedades -->


    <!--Inicio Historia-->
</div>
<div id="historia" class="row align-item-center py-4 history">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="images/Dibujos16.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="images/Dibujos14.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
        <img src="images/Dibujos14.jpg" alt="historia 2" class="img-fluid">
    </div>

    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>Historia</h2>
        <p>Annebulosa, Es una gran artista! con cada dibujo que crea, se inspira a ella misma para seguir adelante,
            empezo humildemente desde joven, para conseguir su sueno de ser una gran artista!</p>

        <!---Fin de Historia-->
    </div>
</div>

<div id="nosotros" class="row aling-items-stretch my-3 staff py-4 staff">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="card-deck">
            <!---Inicio de Card-->
            <div class="card">
                <img src="images/Dibujos15.jpg" class="card-img-top" alt=". . .">
                <div class="card-body">
                    <h5 class="card-title">Annebulosa</h5>
                    <p class="card-text">Un dia de gran compañia y diversion, puede hacerte olvidar los dolores que te
                        siguen, estas amistades son lo que mas valoro en todo el mundo, claro luego de unas galletas...
                    </p>
                </div>
            </div>
            <!---Fin de card-->
            <!---Inicio de Card-->
            <div class="card">
                <img src="images/Dibujos6.jpg" class="card-img-top" alt=". . .">
                <div class="card-body">
                    <h5 class="card-title">Sarah</h5>
                    <p class="card-text">Reflexione Sobre la vida y la muerte, La muerte es triste si, pero vivimos para
                        aprender y para disfrutar lo que es la vida misma, con experiencia y retos constante, la muerte
                        es una paz que aun no voy ni pienso descansar, no hasta que cumpla con mis deberes
                    </p>
                </div>
            </div>
            <!---Fin de card-->
            <!---Inicio de Card-->
            <div class="card">
                <img src="images/Dibujos12.jpg" class="card-img-top" alt=". . .">
                <div class="card-body">
                    <h5 class="card-title">Rengoku</h5>
                    <p class="card-text">Vive con orgullo, si te vence tu debilidad, calienta tu corazon, aprieta los
                        dientes. aunque tu cobardia te frene, eso no detendra el paso del tiempo, todo llegaremos a
                        nuestro fin tarde o temprano, no te sientas triste por ello</p>
                </div>
            </div>
            <!---Fin de card-->
            <!---Inicio de Card-->
            <div class="card">
                <img src="images/Dibujos1.jpg" class="card-img-top" alt=". . .">
                <div class="card-body">
                    <h5 class="card-title">Alicie</h5>
                    <p class="card-text">Todos nos vemos en un espejo y vemos nuestros rostros, en realidad podemos ver
                        mas alla, no simplemente tu ser, si no quien eres realmente</p>
                </div>
            </div>
            <!---Fin de card-->
        </div>

        <!---cierra card-->

    </div>
    <!---cierra col-->

</div>
<!---cierra div nosotros-->

<!---Fin de nosotros-->

<!----Inicio de Visitarnos-->

<div id="conocenos" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.2449369646974!2d-58.550941485050835!3d-34.64851666737624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc87478c2b739%3A0x136123306465bddf!2sEscuela%20de%20Arte%20Leopoldo%20Marechal!5e0!3m2!1ses-419!2sar!4v1651605745205!5m2!1ses-419!2sar"
                style="border:0;"></iframe>
        </div>
        <!--cierra div col md4-->

    </div>
    <div class="col-md-4 mt-4 mt-sm-0">
        <h2>Conctactanos</h2>
        <form action="/" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder=". . ."  name="nombre">
                </div>

                <div class="form-group col-md-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder=". . . "  name="apellido">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Ejemplo@gmail.com" name="email">

            </div>
            <div class="form-group">
                <label for="tel">Tel</label>
                <input type="text" class="form-control" id="tel" placeholder=". . . " name="tel">
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="4" name="mensaje"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        {{#if message}}
        {{message}}
        {{/if}}
    </div>

</div>
<!---cierra div conocemos-->

<!--fin visitanos-->